<div ng-controller="MainCtrl" class="container">
<div class="row">
  <div class="col-md-2">
    Sidebar
  </div>
  <div class="col-md-8">
    Calendar
  </div>
  <div class="col-md-2">
    <ul ui-sortable="sortableOptions" ng-model="list" class="list">
      <li ng-repeat="item in list" class="item">{{item.text}}</li>
    </ul>
  </div>  
</div>
</div>