<script>
  window.API_URL = '<%= ENV['API_URL'] %>';
  window.SCHEDULE_ID = '<%=ENV['SCHEDULE_ID'] %>';
</script>
<div ng-controller="MainCtrl" class="container">
<div class="row">
  <div class="col-sm-2">
    <span class="header">Student Groups</span>
    <ul class="student_groups">
      <li ng-repeat="student_group in student_groups" class="student_group" ng-class="{ selected: selected_student_group === student_group }">
        <a href="javascript:void(0)" ng-click="changeGroup(student_group)">
          <span class="grade">{{student_group.grade}}</span>
          <span class="description">{{student_group.description}}</span>
          <span class="student_group_id" style="display:none">{{student_group.id}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-sm-8 calendar">
    <div class="days_header">
      <span ng-repeat="day in days" class="day">{{day}}</span>
    </div>
    <div ng-repeat="day in days" class="day">
      <div cs-time-slot ng-repeat="slot in calendar | filter:day" slot="slot" dragging="dragging"></div>
    </div>
  </div>
  <div class="col-sm-2">
    <span class="header">Teachers</span>
    <ul ui-sortable="sortableOptions" ng-model="teachers" class="teachers">
      <li ng-repeat="teacher in teachers" class="teacher">
        <span class="name">{{teacher.first_name}} {{teacher.last_name}}</span>
        <span class="teacher_id" style="display:none">{{teacher.id}}</span>
        <br />
        <span class="subject">{{teacher.subject}}</span>
      </li>
    </ul>
  </div>
</div>
</div>
