<div ng-controller="MainCtrl" class="container">
<div class="row">
  <div class="col-md-2">
    Sidebar
  </div>
  <div class="col-md-8 calendar">
    <div ng-repeat="day in calendar" class="day">
      {{day.title}}
      <div ng-repeat="slot in day.slots" class="slot">
        {{slot.startTime}}
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <ul ui-sortable="sortableOptions" ng-model="teachers" class="teachers">
      <li ng-repeat="teacher in teachers">{{teacher.firstname}} {{teacher.lastname}}</li>
    </ul>
  </div>  
</div>
</div>