//colors
$plum: #824494
$mauve: #A37DB2
$forest: #1E807C
$teal: #50B3A7
$grey: #EBEBEB

//typography

.day 
	float: left
	width: 20%

//time slots
ul
	list-style: none
.slot 
	height: 40px
	border: 8px solid  #fff
	background-color: $grey
	padding: 5px
	min-height: 80px
	min-width: 160px
	transition: background-color 0.25s ease
	&:hover
		background-color: $mauve
.slot.dragover
	border: 2px solid red
